
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
/* colors change code start */
:root{
    --primary-color:#b79fe4;
    --secondary-color:#080808;
}
.dark-theme{
    --primary-color:#020611cb;
    --secondary-color:#fff;
}
/* colors change code End */
.logo{
    font-size: 35px;
    display: grid;
    justify-content: center;
    font-weight: 600;
    font-family: sans-serif;
    padding-bottom: 10px;
    color: #fff;
}
#mode{
    font-size: 24px;
    color: #fff;
    cursor: pointer;
} 
.container{
    width: 100%;
    height: 100vh;
    background: var(--secondary-color);
    display: grid;
    align-items: center;
    justify-content: center;
}
.calculator{
    background: var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2fr 1fr);
    
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 65px;
    border-radius: 33px;
    font-size:22px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    background:transparent;
    color: white;
    cursor: pointer;
    margin: 10px;
}
form .inputDisplay{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .inputDisplay input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: white;
    
}
form input.equal{
    width: 145px;
}
form input.colors{
    color:white;
}
.colors:hover{
    background-color: rgb(2, 216, 2);
}
.fa-solid{
    margin-top: -30px;
    cursor: pointer;
}
